<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--使用jdbc的getGenerateKeys 获取数据库自增主键值  -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 使用别名替换列名 ，默认true -->
        <setting name="useColumnLabel" value="true"/>
        <!--使用驼峰命名转换 :Table(create_Time) -> Table(createTime)  -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--相关资料网址-->
    <!--https://github.com/pagehelper/Mybatis-PageHelper/blob/master/wikis/zh/HowToUse.md-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!--设置数据库类型，Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->
            <!--<property name="dialect" value="mysql"/>-->
            <!--默认为false,设置为true时将 RowBounds 中的 offset 参数当成 pageNum 使用,limit 参数当做PageSize使用-->
            <property name="offsetAsPageNum" value="false"/>
            <property name="rowBoundsWithCount" value="false"/>

            <property name="pageSizeZero" value="false"/>
            <!--当该参数设置为 true 时，pageNum<=0 时会查询第一页， pageNum>pages（超过总数时），会查询最后一页-->
            <property name="reasonable" value="false"/>
            <!--默认为false，支持通过 Mapper 接口参数来传递分页参数-->
            <property name="supportMethodsArguments" value="false"/>
            <property name="returnPageInfo" value="none"/>

        </plugin>
    </plugins>
</configuration>