<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.dao.MedicineDao">

    <delete id="deleteById" parameterType="long">
        DELETE FROM medicine
        WHERE medicine_id=#{medicine}
    </delete>

    <select id="queryByKeyword" parameterType="String" resultType="com.design.entity.Medicine">
        SELECT * FROM medicine
        WHERE medicine_name
              LIKE concat(concat('%',#{keyword}),'%')
              OR medicine_supplier_id LIKE concat(concat('%',#{keyword}),'%')
    </select>

    <update id="setMedicineInfo" parameterType="long" >
        UPDATE medicine AS m
        SET m.medicine_name=#{medicineName},
        m.expiration_date=#{expirationDate},
        m.price=#{price},
        m.description=#{description},
        m.picture=#{picture},
        m.medicine_supplier_id = #{medicineSupplierId}
        WHERE m.medicine_id = #{medicineId}
    </update>

    <insert id="addMedicine">
        INSERT INTO medicine(medicine_name, medicine_number,production_date,expiration_date, medicine_permitment, description, picture, warning_number,medicine_supplier_id)
        VALUE (#{medicineName},#{medicineNumber},#{productionDate},#{expirationDate},#{medicinePermitment},#{description},#{picture},#{warningNumber},#{medicineSupplierId})

    </insert>

    <select id="queryMedicineNumber" resultType="int" >
        SELECT COUNT(*) FROM medicine
    </select>

    <select id="queryAll" resultType="com.design.entity.Medicine">

        SELECT medicine_id,medicine_name,medicine_permitment,picture,
        supplier_name,expiration_date
        FROM medicine,supplier WHERE medicine_supplier_id = supplier_id

    </select>

    <select id="queryById" resultType="com.design.entity.Medicine" parameterType="long">
        SELECT * FROM medicine
        WHERE medicine_id=#{medicineId}
    </select>
</mapper>