<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.dao.SupplierDao">
    <insert id="addSupplier" >
        INSERT INTO supplier(supplier_name, supplier_picture)
            VALUE(#{suppllierName},#{supplierPicture})
    </insert>

    <select id="selectAllSupplier" resultType="Supplier">
        SELECT supplier_id,supplier_name FROM supplier
    </select>


</mapper>